<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "stud" class="com.test.Student">
      <property name="name" value="Nitish"/>
      <property name="id" value = "1"/>
    </bean>
    <bean id = "col" class="com.test.College">
      <constructor-arg name="student" ref="stud"/>
      <constructor-arg name="dept" value = "CSE"/>
    </bean>
      
    

</beans>